* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: #182d3d;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #132431;
    height: 80px;
    padding: 0 20px;
}

.img {
    width: 60px;
}

.header label {
    color: #fff;
    margin-right: 20px;
}

.src {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
}

.sel {
    border-radius: 10px;
    outline: none;
}

.container {
    width: 1170px;
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 30px;
}

.box {
    width: 300px;
    background: #000;
    color: #fff;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
}

.box img {
    width: 150px;
    margin-bottom: 10px;
}

.box h3 {
    margin: 10px 0;
}
.box h4 {
    margin: 10px 0;
}